<a href="https://colab.research.google.com/github/buun1030/SG-Train/blob/main/participants_SGx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# เชื่อมต่อ Google colab กับ Google Drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!pip install pandasql
import pandas as pd
import pandasql as ps
import numpy as np
import re
from google.colab import files

In [ ]:
# AB = pd.read_csv('/content/drive/MyDrive/agency_list.csv')
xls1 = pd.ExcelFile('/content/drive/MyDrive/agency_list.xlsx')
xls2 = pd.ExcelFile('/content/drive/MyDrive/staff_list.xlsx')
AB = pd.read_excel(xls1, 'Sheet1')
C  = pd.read_excel(xls2, 'Sheet1')
a = AB['A'].astype(str).values.tolist()
b = AB['B'].astype(str).values.tolist()
c = C['C'].astype(str).values.tolist()
for i in range(len(c)):
  c[i] = c[i].replace(u'\xa0', u' ')

In [ ]:
file_name = 'participants_อบรมให้ความรู้ SG 16SEP64'

In [ ]:
# df = pd.read_csv('/content/drive/MyDrive/' + file_name + '.csv')
xls = pd.ExcelFile('/content/drive/MyDrive/' + file_name + '.xlsx')
df = pd.read_excel(xls, 0)

In [ ]:
df.info()

In [ ]:
# use this when number of columns is over
# df.drop(df.columns[[7, 8, 9, 10, 11, 12, 13]], axis = 1, inplace = True)

In [ ]:
# create agency column with correspond agency in each row
df['Agency'] = ''
row = 0
for x in df['Name (Original Name)']:
  for i in range(len(a)):
    if a[i].upper() in str(x).upper():
      df['Agency'][row] = b[i].upper()
  row += 1

# fill empty cells with 'Other'
df['Agency'][df['Agency'] == ''] = 'Other'

In [ ]:
# select needed columns 
df_forCount = df[['Name (Original Name)','Duration (Minutes)','Agency']]
print('Original')
print(df_forCount.count())
print()

# filter rows that duration > 47 minutes
duration = 47
df_forCount = df_forCount[df['Duration (Minutes)'] > duration]
print('After filter rows that duration > ' + str(duration) + ' minutes')
print(df_forCount.count())
print()
df_forCount = df_forCount.reset_index().drop(labels='index', axis=1)

d = []
row = 0
for x in df_forCount['Name (Original Name)']:
  for d_name in c:
    if d_name.upper() in str(x).upper():
      d.append(row)
  row += 1
d = list(dict.fromkeys(d))

# drop rows with d index
df_forCount = df_forCount.drop(labels=d, axis=0)
print('After drop rows with staff name')
print(df_forCount.count())
print()

# drop duplicate rows
df_forCount = df_forCount.drop_duplicates(subset = ['Name (Original Name)'])
print('After drop duplicate rows')
print(df_forCount.count())

Original
Name (Original Name)    975
Duration (Minutes)      975
Agency                  975
dtype: int64

After filter rows that duration > 47 minutes
Name (Original Name)    330
Duration (Minutes)      330
Agency                  330
dtype: int64

After drop rows with staff name
Name (Original Name)    308
Duration (Minutes)      308
Agency                  308
dtype: int64

After drop duplicate rows
Name (Original Name)    287
Duration (Minutes)      287
Agency                  287
dtype: int64

In [ ]:
# check Agency list
df_forCount['Agency'].sort_values().unique()

In [ ]:
# display all rows
pd.set_option('display.max_rows', None)
# display full (non-truncated) dataframe information
pd.set_option('display.max_colwidth', None)

In [ ]:
# manually correct wrong Agency
df_forCount['Agency'][df_forCount['Name (Original Name)']=='ES_sanont']='ES'

In [ ]:
# manually delete duplicate Name
df_forCount = df_forCount.drop(df_forCount[df_forCount['Name (Original Name)'] == 'Pakorn'].index)

In [ ]:
# manually check duplicate Name
ps.sqldf('SELECT * FROM df_forCount ORDER BY [Agency], [Name (Original Name)]')

In [ ]:
# pivot
df_pivot = pd.pivot_table(df_forCount, values='Name (Original Name)', index=['Agency'], aggfunc='count', margins = True, fill_value=0)
df_pivot

In [ ]:
# save & download to excel
writer = pd.ExcelWriter(file_name + '_final.xlsx')

df.to_excel(writer, sheet_name = 'par', index = False)
df_forCount.to_excel(writer, sheet_name = 'par_forCount', index = False)
df_pivot.to_excel(writer, sheet_name = 'pivot', index = True)

writer.save()
files.download(file_name + '_final.xlsx')
# All done here!